/* General */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  /* Contenedor principal */
  .container {
    display: flex;
    flex-direction: column; /* Cambiado a columna */
    align-items: center;
  }
  
  /* Sección de emociones */
  .emociones {
    font-family: 'Comic Sans MS', 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.5em;
    color: #333;
  }
  
  h2 {
    font-size: 1.5em;
    color: #666;
    margin-bottom: 30px;
  }
  
  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .card {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 20px;
  }
  
  .text-content {
    text-align: left;
  }
  
  .text-content p {
    margin: 0;
    font-size: 1.2em;
    color: #333;
  }
  
  hr {
    border: none;
    height: 2px;
    background-color: #ddd;
    margin: 20px 0;
  }
  
  /* Sección de selección */
  .selection-section {
    display: flex;
    border: 2px solid black;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    height: auto;
    margin-top: 20px; /* Espacio superior entre secciones */
  }
  
  .phrases, .images {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex: none; /* Quita proporción */
  }
  
  .phrases {
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 20px;
    text-align: center;
  }
  
  .phrase {
    padding: 20px;
    border: 2px solid black;
    margin-bottom: 10px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .phrase.selected {
    background-color: lightblue;
  }
  
  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
  }
  
  .image-box {
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 120px;
    height: 120px;
  }
  
  .image-box.selected {
    background-color: lightcoral;
  }
  
  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  /* Línea vertical separadora */
  .line-separator {
    width: 2px;
    background-color: black;
    height: 100%;
    margin: 0 20px;
  }
  
  .result-section {
    text-align: center;
    margin-top: 20px;
  }
  
  .hidden {
    display: none;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  